:root {
    --bg-color: #1F2227;
    --font-color: #F0F0F0;
    --close-color-hover: #77FF77;
}

.hidden {
    display: none;
}

.dialog-window {
    position:absolute;
    margin: 0 auto;
    min-width: 15vw;
    min-height: 5vh;
    background: #FFF;
    border-radius: 5px;
    border:1px solid black;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.dialog-window .title-bar {
  padding: 3px;
  background-color:#DDDDDD;
  margin-bottom: 4px;
  border-bottom: 1px solid #AAAAAA;
  text-align: center;
}

.dialog-window .title {
    margin-top: 5px;
}

.dialog-window .content {
    padding: 3px;
    overflow: scroll;
    min-width: 100px;
    min-height: 100px;
}

.dialog-window .title-bar button.close {
  width: 1rem;
  height: 1rem;
  padding: 0;
  position: absolute;
  top: 0.28rem;
  right: 0.5rem;
  cursor: pointer;
}

button.close .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.dialog-window .title-bar button.close::before,
.dialog-window .title-bar button.close::after {
    content: '';
    width: 1px;
    height: 100%;
    background: #333;
    display: block;
    transform: rotate(45deg) translateX(0px);
    position: absolute;
    left: 50%;
    top: 0;
}

.dialog-window .title-bar button.close::after {
    transform: rotate(-45deg) translateX(0px);
}
