<table class="listbody" cellpadding="3" cellspacing="1">
    <thead>
        <tr bgcolor="#073c68">
            <th width="40"><font color="#ffffff"></th>
            <th align="center" width="40"><font color="#ffffff"><strong>Item</strong></font></th>
            <th id="DataTablePhoto" align="center"><font color="#ffffff"><strong>Photo</strong></font></th>
            <th id="DataTableDesc" align="center"><font color="#ffffff"><strong>Description</strong></font></th>
            <th align="center"><font color="#ffffff"><strong>Bids</strong></font></th>
            <th align="center"><font color="#ffffff"><strong>High <br> Bidder</strong></font></th>
            <th align="center"><font color="#ffffff"><strong>Current <br> Amount</strong></font></th>
            <th align="center"><font color="#ffffff"><strong>Next Bid <br> Required</strong></font></th>
            <th align="center"><font color="#ffffff"><strong>Your <br> Bid</strong></font></th>
            <th align="center"><font color="#ffffff"><strong>Time <br> Remaining</strong></font></th>
        </tr>
    </thead>
    <tbody><tr><td>Test Include</td></tr></tbody>
</table>
