form#createWatchlistForm input#addKeyword {
    margin-left: 5px;
}

form input.invalid {
    border: 1px solid #FF5555;
    background-color: #FFDDDD;
}

span.error {
    color: #FF0000;
    display: block;
}

.hidden, span.hidden {
    display: none !important;
}

input {
    margin-bottom: 4px;
}

form#createWatchlistForm input#clear, form#createWatchlistForm input[type="submit"] {
    display: inline-block;
}

label {
    display:block;
}

#watchlistName {
    display:block;
}

#watchlistList li::marker {
    content: none;
}

#watchlistList li {
    display:inline-block;
    min-width:100px;
    margin: 1px 2px 1px 2px;
}
#watchlistList li.list-item button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#watchlistList li button {
    width:100%;
}

#watchlistList li button > span.icon {
    font-weight: bold;
}
#watchlistList li button > span.keyword {
    order: 0;
    flex: 1;
    text-transform: capitalize;
}
