<style>@import "/components/ListWatchlists/main.css";</style>
<div id="list-watchlists-container">
    <table>
        <tbody>
        </tbody>
    </table>
</div>

<template id="template-row">
    <tr>
        <th class="controls">
            <button class="view-button" value="{{watchlistName}}" data-watchlist-id="{{watchlistId}}" data-row-id="{{rowId}}">View <i class="fas fa-file-alt" aria-hidden="true"></i></button>
        </th>
        <th class="controls">
            <button class="edit-button" value="{{watchlistName}}" data-watchlist-id="{{watchlistId}}" data-row-id="{{rowId}}">Edit <i class="fas fa-edit" aria-hidden="true"></i></button>
        </th>
        <th class="controls">
            <button class="delete-button" value="{{watchlistName}}" data-watchlist-id="{{watchlistId}}" data-row-id="{{rowId}}">Delete <i class="far fa-trash-alt" aria-hidden="true"></i></button>
        </th>
        <th class="list-name"></th>
        <td class="list"></td>
    </tr>
</template>
